<div>
    <h1>Ajouter une catégorie</h1>
    <form asp-action="RegisterCategory" asp-controller="Annonces" method="post">
        <div>
            <label>Titre : </label>
            <input type="text" name="titre" />
        </div>
        <div>
            <button type="submit">Ajouter</button>
        </div>
    </form>
</div>
